:root {
  --primary-color: rgba(63, 81, 119, 0.89); /*Primary color of the menu buttons */
  --hover-color: rgba(41, 66, 121, 0.89); /* Color on hover */
  --disabled-color: rgba(102, 102, 102, 0.9); /* You can disable a button. This is the color when disabled */
  --scroll-inset-color: rgba(56, 73, 109, 0.89); /* If the menu gets big enough, it will add a scrollbar. This is the inset color of the bar */
  --scroll-thumb-color: #171717e6; /* Color of the thumb/handle of the scrollbar */
  --box-shadow-color: #000000; /* There is a box shadow around each header/button. This is that color */
  --text-color: #ffffff; /* Text color */
  --font-family: "Times New Roman", sans-serif; /* Font type */
  --font-weight: 100; /* How thick the text is */
}


* {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

@media (width: 3840px) and (height: 2160px) {
  #container {
    position: absolute;
    font-size: 25px !important;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background: transparent !important;
  }

  #buttons {
    font-size: 25px !important;
    max-height: 75vh;
    width: 300px;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
  }

  div > .text {
    flex-direction: column;
    font-size: 25px !important;
    overflow: hidden;
  }

  div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: var(--text-color);
    font-size: 25px !important;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--scroll-inset-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 10px;
}

#container {
  position: absolute;
  height: auto;
  top: 20%;
  right: 20%;
  border-radius: 5px;
  background: transparent !important;
}
.button {
  cursor: pointer;
  display: flex;
  flex-direction: row !important;
  gap: 10px;
}

.title {
  cursor: default;
  gap: 10px;
  display: flex;
  flex-direction: row !important;
}

#buttons {
  max-height: 75vh;
  width: 300px;
  overflow-x: none;
  overflow-y: auto;
  padding: 10px;
}

html,
body {
  background: transparent !important;
}

.button {
  width: auto;
  height: 10%;
  background: var(--primary-color);
  color: var(--text-color);
  margin: auto;
  position: relative;
  top: 10%;
  margin-top: 0.5rem;
  overflow: hidden;
  padding: 0.45rem;
  border-radius: 0.15rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0rem 0.5rem 0.05rem var(--box-shadow-color);
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  padding-left: 10px;
}

.button:hover {
  background-color: var(--hover-color);
}

.title {
  width: auto;
  height: 10%;
  background: var(--primary-color);
  color: var(--text-color);
  margin: auto;
  position: relative;
  top: 10%;
  margin-top: 0.5rem;
  overflow: hidden;
  padding: 0.45rem;
  border-radius: 0.15rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0rem 0.5rem 0.05rem #000000;
}

.title > div.column > div.header {
  text-decoration: underline !important;
}

.disabled {
  background: var(--disabled-color) !important;
  cursor: default;
}

div > .text {
  flex-direction: column;
  font-size: 0.75rem;
  overflow: hidden;
}

div > .header {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: left;
  overflow: wrap;
  color: var(--text-color);
  font-size: 0.9rem;
  overflow: hidden;
}